aiohttp  
asyncio
apscheduler  
cachetools  
motor  
pymongo  
git+https://github.com/KurimuzonAkuma/pyrogram.git  
pyrohelpo  
python-dotenv  
python-telegram-bot  
pyrate-limiter  
requests  
tgcrypto
